# Frontend files and directories
validflow-frontend/node_modules
validflow-frontend/package-lock.json
validflow-frontend/dist

# Backend files and directories
__pycache__/
validflow-backend/build
validflow-backend/start-x86_64-pc-windows-msvc.spec
# Editor directories and files
.vscode/*
!.vscode/extensions.json
node_modules
package-lock.json
.env